@import "../base/variables";

* {
	tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

// nuxt.js markup
#__nuxt,
#__layout,
.vue-app {
	height: 100%;
}

html {
	font-size: 100%;
	width: 100%;
	height: 100%;
}

body {
	font-family: $ffPokemonHollow;
	font-weight: $fwRegular;
	line-height: $lineHeight;
	font-size: $fontSize;
	color: $cBase;
	background-color: $cBlue;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}