@import "../base/variables";

@font-face {
	font-family: "PokemonHollow";
	src: url("#{$fontsPath}/PokemonHollow.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PokemonSolid";
	src: url("#{$fontsPath}/PokemonSolid.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}