@import "../base/variables";

.loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($cBlue, .95);

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		width: 8em;
		height: 8em;
		font-size: 5px;
		border-top: .6em solid rgba($cYellow, .5);
		border-right: .6em solid rgba($cYellow, .5);
		border-bottom: .6em solid rgba($cYellow, .5);
		border-left: .6em solid $cYellow;
		display: inline-block;
		margin-top: -4em;
		margin-left: -4em;
		animation: loading .8s infinite linear;
	}
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
