@import "../base/variables";

// Convert pixels to rems
// eg. for a relational value of 12px write rem(12)
// Assumes $em-base is the font-size of <html>

@function strip-units($value) {
	@return ($value / ($value * 0 + 1));
}

$em-base: 16px !default;

@function rem($pxval) {
	@if not unitless($pxval) {
		$pxval: strip-units($pxval);
	}

	$base: $em-base;
	@if not unitless($base) {
		$base: strip-units($base);
	}
	@return ($pxval / $base) * 1rem;
}

@mixin imgRetina($small, $retina, $width: auto, $height: auto, $path: '#{$imagePath}/') {
	background-image: url('#{$path}#{$small}');
	@if $width == cover or $width == contain {
		@if $width != false {
			background-size: $width;
		}
	} @else {
		@if $width != false {
			background-size: $width $height;
		}
	}
	@if $small != $retina {
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('#{$path}#{$retina}');
		}
	}
}