$imagePath: '../images';
$fontsPath: '../fonts';
$animationTime: 0.25s;
$animationType: ease-in-out;

// Fonts
$ffPokemonHollow: 'PokemonHollow', sans-serif;
$ffPokemonSolid: 'PokemonSolid', sans-serif;

$fwRegular: 400;
$fontSize: rem(24px);
$lineHeight: 1.25;

// Colors
$cBase: #003a70;
$cWhite: #ffffff;
$cBlack: #000000;
$cYellow: #ffcb05;
$cBlue: #3d7dca;