@import "../base/variables";

.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	border: 5px solid $cYellow;
	border-radius: 3px;
	padding: rem(15px);
	margin: 0;

	&__item {
		display: inline-block;
		margin: rem(10px);

		&-link {
			$size: rem(140px);
			width: $size;
			height: $size;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			font-family: $ffPokemonSolid;
			text-decoration: none;
			color: $cBase;
			font-size: rem(20px);
			cursor: pointer;
			background-color: $cWhite;
			border: 4px solid $cBase;
			border-radius: 3px;
			padding: rem(15px);
			transition: border-color $animationTime $animationType;

			&:hover {
				border-color: $cBlue;

				.box__item-pokeball {
					transform: rotate(360deg);
					transition: transform .3s $animationType;
				}
			}
		}

		&-img,
		&-pokeball {
			margin: rem(5px) rem(10px);
		}
	}
}