@import "../base/variables";

.page {
	position: relative;
	text-align: center;
	padding: rem(80px);
	height: 100%;
	@include imgRetina('bg.jpg', 'bg@2.jpg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba($cBlue, .6);
		width: 100%;
		height: 100%;
		display: block;
		z-index: 0;
	}

	&__title {
		position: relative;
		color: $cYellow;
		font-size: rem(100px);
		margin-top: 0;
		margin-bottom: rem(40px);
	}
}