<template>
	<div class="box" v-if="hasData">

		<BoxRow
				:item="item"
				:index="index"
				:key="index"
				v-for="(item, index) in data"
		/>

		<div class="loader" v-if="isLoading"></div>
	</div>

</template>

<script>
	import {size} from 'lodash';
	import axios from 'axios';

	import BoxRow from '~/components/BoxRow';

	export default {
		name: 'Box',
		components: {
			BoxRow
		},
		data() {
			return {
				isLoading: false,
				results: []
			}
		},
		mounted() {
			this.fetchData();
		},
		methods: {
			fetchData() {
				const limit = '9';
				const url = `https://pokeapi.co/api/v2/pokemon?limit=${limit}`;

				this.isLoading = true;

				axios.get(url)
					.then((response) => {
						this.results = response.data.results
					})
					.catch((error) => {
						console.log(error);
					});

				this.isLoading = false;
			}
		},
		computed: {
			data() {
				return this.results;
			},
			hasData() {
				return this.data !== null && size(this.data) > 0;
			}
		}
	}
</script>