<template>
	<div class="box__item">
		<button type="button" class="box__item-link" @click="preview = !preview">

			<img :src="getImg"
				 :alt="item.name"
				 height="70"
				 class="box__item-img"
				 v-if="preview"
			/>
			<img src="~/assets/images/icon/pokeball.svg"
				 alt="Pokeball"
				 height="70"
				 class="box__item-pokeball"
				 v-else
			/>
			<span v-if="preview">{{ item.name }}</span>
		</button>
	</div>
</template>

<script>
	export default {
		name: 'BoxRow',
		props: {
			item: {
				type: Object,
				default: () => ({}),
				required: true,
			},
			index: {
				type: Number,
				required: true
			}
		},
		data() {
			return {
				preview: false
			}
		},
		computed: {
			getImg() {
				return `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${this.index}.png`;
			}
		}
	}
</script>