<template>
	<div class="page">

		<h1 class="page__title">Pokémon</h1>

		<Box/>
	</div>
</template>

<script>
	import Box from '~/components/Box';

	export default {
		name: 'index',
		head: {
			title: 'Pokémon',
		},
		components: {
			Box
		}
	}
</script>
